@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Work+Sans:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}*/

body {
  height: 100%;
  /*color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));*/
}

:root {
  /* HAMBURGER MENU BUTTON */
  --bar-width: 20px;
  --bar-height: 3px;
  --button-background: #fff;
}

/* width & height*/
.scroll::-webkit-scrollbar {
  height: 10px;
}

/* Track */
.scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.scroll::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
.scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Menu Button */
.MENU-BTN, .MENU-BTN-OPEN {
  display: none;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.MENU-BTN-HAMBURGER {
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--button-background);
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

.MENU-BTN-HAMBURGER::before, .MENU-BTN-HAMBURGER::after {
  position: absolute;
  content: '';
  width: var(--bar-width);
  height: var(--bar-height);
  background: var(--button-background);
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

.MENU-BTN-HAMBURGER::before {
  transform: translateY(-6px);
  }
.MENU-BTN-HAMBURGER::after {
  transform: translateY(6px);
} 

/* MENU BUTTON ANIMATION */
.MENU-BTN-OPEN .MENU-BTN-HAMBURGER {
  transform: translateX(-20px);
  background: transparent;
}
.MENU-BTN-OPEN .MENU-BTN-HAMBURGER::before {
  transform: rotate(45deg) translate(14px, -14px);
}
.MENU-BTN-OPEN .MENU-BTN-HAMBURGER::after {
  transform: rotate(-45deg) translate(14px, 14px);
}

/* MEDIA SCREENING */
@media screen and (max-width: 480px) {
  .scroll::-webkit-scrollbar {
    height: 8.75px;
  }
  .MENU-BTN, .MENU-BTN-OPEN {
    display: flex;
  }
}